@charset "UTF-8";

body{
    background-color: black;
   
}
h1{
    color: white;
    text-align: center;
}
main{
    box-shadow:30px 20px 20px;
  
}

video{
   display: block;
    margin:auto ;
}

a{
    text-align: center;
    color: white;
}