@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 768px) {

    #enter{
        height: 100%;
    }

    #box{
     background-image: none;
  
    }

   #start{
    padding-bottom: 10px;
    height: 480px;
   }

   #inicio_p{
    width: 300px;
   
   }

   #start{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
   }

   p{
    display: block;
    margin: auto;
   
   }

   #p_small{
    display: block;
    color: black;
    padding: 15px;
    min-width: 300px;
    max-width: 650px;
    padding-bottom: 30px;
    transform: translateY(40px);
    text-align: center;
   }

   #box{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
   
   }

   #box h2{
    transform: translate(50px , 120px);
    padding-right: 120px;
   }

   #box > p{
    display: none;
 
   }
}