@charset "UTF-8";

/* configurações gerais */

* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #233eff;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px #131e77c5;
    padding: 10px;

}