@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    font-size: 1em;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: gray;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

h1{
    /*border: 1px dotted black;*/
   text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.821);
    flex: 0 0 200px;
   
}

h1:hover{
    color: black;
    transition: all .4s;
    text-shadow: none;
}

nav{
    /*border: 1px dotted black;*/
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-end;

}

nav > a{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;

}


nav > a:hover{
    background-color: white;
    color: black;
    transition: background-color .8s;
   
}

main{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.468);
}