@charset "UTF-8";

/* typical device breakpoints 
pequenas telas:600px
telefone: max-600px/768px
tablet: max-768px/992px
desktop: 992px/1200px
grandes telas: +1200px */


:root{
    --bege_escuro: #60584b;
    --h1: rgb(109, 109, 109);
    --a: #4a4233;
    --fg_hover: #999488;
}

@media screen and (min-width: 768px) and (max-width: 992px)  /* CONFIGURAÇÃO PARA TABLET */{
  
    body{
        background-image: linear-gradient(to bottom, #60584b, white);
    }
  
    #login{
        width: 90vw;
        height: 45%;
    } 
   
    #img{
        float: left;
        width: 35%;
        height: 100%;
        
    }

    #formulario{
        float: right;
         width: 65%;
    }
    
    form{
        margin-left: 250px;
    }
    
     h1 , p{
        transform: translateY(25px);
     }

    .campo{
        margin-left: 48px;
        transform: translateY(50px);
    }
    
    .log{
        width: 45vh;
        display: inline-block;
        margin: auto;
    }

    #ienter{
        width: 50vh;
     
    }

    .enter_duo{
      width: 48vh;
      transform: translateY(55px);
    }

}

@media screen and (min-width: 992px) /* CONFIGURAÇÃO PC */ {
   
    body{
        background-image: linear-gradient(to bottom, #60584b, white);
    }

    h1  {
        margin-top: 30px;
    }

    form{
        padding-top: 200px;
        transform: translateX(30px) translateY(-20%);
    }
   

    #login{
        width: 950px;
        height: 50%;
    }     

    #img{
        float: left;
        width: 40%;
        height: 100%;
    }

    .log{
        width: 48%;
    }

    #formulario{
        float: right;
        width: 60%;
    }

    #ienter{
        width: 49%;
        padding: 5px;
        margin-bottom: 3px;
        transform: translateX(-20px);
      }
  
    a{
          width: 48%;
          margin-right: 72px;
          padding: 4px;
      }
    
}